DB_HOST=localhost
DB_PORT=5432
DB_NAME=shopsphere
DB_USER=shopsphere
DB_PASSWORD=shopsphere
JWT_SECRET=c2hvcHNwaGVyZS1zdXBlci1zZWNyZXQta2V5LWNoYW5nZS1pbi1wcm9kdWN0aW9uLTIwMjY=
CORS_ORIGINS=http://localhost:5173
